# VARIOUS FILES

.Xauthority
.bash_history
.bash_logout
.viminfo
.gitconfig
.esd_auth
.steampid
.steampath
.pulse-cookie

.lesshst

# FOLDERS

.cache/
Documents/
Downloads/
Music/
Videos/
.mozilla/
.local/
.config/autostart/
.config/pulse/
.dropbox/
Dropbox/
.dropbox-dist/
.steam/
.pki/
.config/unity3d/
.config/Unknown\ Organization/
.config/libreoffice/
.config/zoomus.conf
.zoom/
.config/dconf/user
