#++ VARIOUS FILES
.Xauthority
.bash_history
.bash_logout
.viminfo
.gitconfig
.esd_auth
.steampid
.steampath
.pulse-cookie
.Rhistory
.lesshst
.msmtprc
.offlineimaprc
.sc-iminfo
.config/mpd/database
.config/mpd/log
.config/mpd/mpd.conf
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.git-credentials
.config/QtProject.conf
.notmuch-config
.msmtp.log
.config/RStudio/desktop.ini
.config/dconf/user
.vim/.netrwhist
holidays.en-AU
.viminfo.tmp

# FOLDERS

.cache/
Documents/
Downloads/
Music/
Videos/
.mozilla/
.local/
.config/autostart/
.config/pulse/
.dropbox/
Dropbox/
.dropbox-dist/
.steam/
.pki/
.config/unity3d/
.config/Unknown\ Organization/
.config/libreoffice/
.config/zoomus.conf
.zoom/
.config/gtk-3.0/
.thunderbird/
.gnupg/
.config/mutt/
.rstudio-desktop/
.password-store/
Projects/
R/
.w3m/
.offlineimap/
.mail/
.vim/plugged
.cabal/
.emacs.d/
.config/configstore/
.npm/
