# VARIOUS FILES

.Xauthority
.bash_history
.bash_logout
.viminfo
.gitconfig
.esd_auth

# FOLDERS

.cache/
Documents/
Downloads/
Music/
Videos/
.mozilla/
.local/
.config/autostart/
.config/pulse/
.dropbox/
Dropbox/
.dropbox-dist/
