#!/bin/sh

setwall & # Set the background
xcompmgr & # Transparency
xset r rate 300 50 & # Faster key repeats when holding a key down
dunst & # Notifications
unclutter & # Makes the mouse disappear after a bit
dropbox &
#streamdeckd &
mpd &
#xmobar

sxhkd & # Keybindings

